.mySwiper {
  width: 100%;
  height: 500px; /* or 250px, 200px as needed */
}


.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4; /* Optional */
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover entire slide without stretching */
}
